header{
    text-align: center;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    background-color: brown;
    

}

h1{
    text-align: center;
    border: 1px solid;
    padding: 10px 15px 3px 6px;
    

}

section{
    text-align: center;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    background-color:yellow;

}

h2{
    text-align: center;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    padding: 10px 15px 3px 3px;

}


article{
    text-align: center;
    border: 1px solid;
    background-color:rgb(255, 0, 0);
    margin: 5px 5px 5px 5px;


}

footer{
    text-align: center;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    background-color:aqua;


}